* {

}

p {

}

.credit {
    position:absolute;
    left:10;
    bottom:0;
    line-height: 0.8;
    font-size: x-small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
